.mainImages{
	/* the 2 background images */
	height:325px; 

}

.imageContainer{
	/* the container for the 2 mackground images as well as
	the top and bottom nav bars*/
	padding:0px;

}

.outerNavElement{
	/* the top and bottom nav bars */
	height:150px;
	padding: 0px; 

}

.outerNavElement:nth-of-type(2){
	/* 
		the top and bottom nav section that faids 
		in 
	*/
	height:228px;

}
  
.navTopMenu{
	/* the top nav bars */
	z-index:1;
	position:absolute;
	bottom:0px;
	padding:0px;
	
}

#navBar{
	/*middle nav bar*/
	height: 105px;
	padding: 0px;

}


.navBottomMenu{
	/* the bottom nav bars */
	z-index:1;

	position:absolute;
	top:0px;
	padding:0px;
	
}



#topImg{
  /*the top background image*/
  background: url(../../img/homeTopHalf.png) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}




#bottomImg{

 	/*the bottom background image*/
   background: url(../../img/homeBottomHalf.png) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}


.navElement{
	/* all middle nav bar elements*/
	height:100%;
	padding: 0px;

}


.navElement:nth-of-type(1){
	/* first left side middle nav bar elements*/
   background: url(../../img/buyTickets.png) no-repeat center center ; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #EB0089;
}

.navElement:nth-of-type(2){
	/* second middle middle nav bar elements*/
     background-color: #EB0089; 

} 

.navElement:nth-of-type(3){
	/* third last middle nav bar elements*/
	
   background: url(../../img/AIYFlogoCROP.jpg) no-repeat center center ; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #EB0089; 

}
#mobileLogo{
	/*
		this will only be displayed on mobil at the top
		of the screeen
	*/
	height:105px;
	background: url(../../img/AIYFlogoCROP.jpg) no-repeat center center ; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #EB0089; 
}

.navLinkElementContainer{
	/*all links in the faiding in and middle nav bars*/

	background-color: rgba(144,144,144, 0.5);
  
	margin-top: 6px;

	height:105px;

}

#navLinkElementContainerMid{
	/*special condition for middle links in middle nav bars*/
	margin-top: 0px;
	
}

.innerLinkStyle{
	/*inner Link style note: vertical text centering*/
	margin-top:25px;
	font-family: 'Open Sans', serif;
	color :black;
	font-size: 35px;
	
}