body{
	/*main background colour for all pages*/
	background-color: #FFFFFF;	

}

/*!!!!!!!BANNER!!!!!!!!*/

/*the main container of the banner*/
/*banner styling */
#banner{
	
	height: 100px;
	background-color: gray;
	padding:0px;
	background-color: #EB0089;

}


/* the banner container*/
#banner > .row > #menuBtnContainer, #bannerLogContainer{


	height:100px;
	padding: 0px;
	background-color: #EB0089;

	

}

/*banner drop down button*/
#banner > .row > #menuBtnContainer > #menuBtn{
  margin-left: 5px;
  margin-top:25px;
  height:50px;
  background: url(../../img/menuWhiteIcon.png) no-repeat center center ; 
   -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  
}
/* the logo in the banner*/
#banner > .row > #bannerLogContainer {
	
 
  height:100px;
  background: url(../../img/AIYFlogocrop.jpg) no-repeat center center ; 
   -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  
}

#banner > .row:nth-of-type(2) > #menuDropDownContainer{
	overflow: hidden;
	height: 370px;
	
	z-index: 1;  
}
/* every option in the drop down menu */
#banner > .row:nth-of-type(2) > #menuDropDownContainer > a > .menuOption{

	
	padding: 0px;
	margin-top: 12px; 
	background-color: rgba(144,144,144, 0.8); 

}

/* the container of the text in the drop down menu*/
#banner > .row:nth-of-type(2) > #menuDropDownContainer > a > .menuOption > #menuOptionTextContainer{
	padding: 0px;

}

/* the text in the menus*/
#banner > .row:nth-of-type(2) > #menuDropDownContainer > a > .menuOption > #menuOptionTextContainer > h1{
	padding: 0px;
}

/*page title*/
.PageTile{
	 padding-left: 0px;
	padding-right: 0px;
	height:55px;
	
}
/*the text container in the options*/
.PageTile > .innerTitle{
	margin-top: 10px;
	font-size: 30px;
	
	
}



/*!!!!!!! MAIN BODY WRAPPER !!!!!!!!*/

/*wrapper style that contains all the content of each page exept the banner*/
#wrapper{

}



/*!!!!!!!FOOTER!!!!!!!!*/

/*the footer at the bottom*/
#footer{
	
	background-color: #FFFFFF;

}
/*the footer at the bottom*/
#footer > #social, #sponsers{

	margin-top:10px;
	margin-bottom:10px;


}

/* both sponsers and social imgs in footer*/
#footer > #social > a > img, #sponsers > a > img {

	height:50px;
	margin:10px;


}

/* just the social images in footer */
#footer > #social > a > img {

	height:50px;
	margin:10px;
	float: right;

}
/* global style*/
hr{
	border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; 
    background-color: #333; 
}

/*!!!!!FONTS!!!!!!!!*/
/*quick font implementation list for all pages*/
.main-font{
	font-family: 'Open Sans', serif;
}
/* font for the page content*/
.content-font{
	
	font-family: 'Droid Sans', serif;

}

