body{
	/*main background colour for all pages*/
	background-color: #FFFFFF;	

}

#banner{
	/*banner styling */
	height: 100px;
	background-color: gray;
	padding:0px;

}

#banner_row{
	/*row that banner sits in*/

}

.bannerElement{
	/*elements with in the bamnner */
	height:100px;

}


#bannerElementMain{
	/*the elemnt that the main logo/page title sits in*/
}

/* banner elements from left to right*/
.bannerElement:nth-of-type(1){

}

.bannerElement:nth-of-type(2){
background-color:orange;
}

.bannerElement:nth-of-type(3){

}

/*wrapper style that contains all the content of each page exept the banner*/
#wrapper{

}

/*the footer at the bottom*/
#footer{
	
	background-color: #FFFFFF;
	

}
/*the footer at the bottom*/
#footer > #social, #sponsers{

	margin-top:10px;
	margin-bottom:10px;


}


#footer > #social > img, #sponsers > img {

	height:50px;
	margin:10px;


}

#footer > #social > img {

	height:50px;
	margin:10px;
	float: right;

}
hr{
	border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}





/*quick font implementation list for all pages*/
.main-font{
	font-family: 'Open Sans', serif;
}

