body{
	/*main background colour for all pages*/
	background-color: #FFFFFF;	

}

#banner{
	/*banner styling */
	height: 100px;
	background-color: gray;
	padding:0px;
	background-color: #EB0089;

}

#banner > .row{



}

#banner > .row > #menuBtnContainer, #bannerLogContainer{

	height:100px;
	padding: 0px;
	background-color: #EB0089;
	/*margin-left: 5px; */
	

}

/*banner drop down button*/
#banner > .row > #menuBtnContainer > #menuBtn{
	margin-left: 5px;
  margin-top:25px;
  height:50px;
  background: url(../../img/menuIcon.png) no-repeat center center ; 
   -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  
}

#banner > .row > #bannerLogContainer {
	
 
  height:100px;
  background: url(../../img/AIYFlogocrop.jpg) no-repeat center center ; 
   -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  
}






/*wrapper style that contains all the content of each page exept the banner*/
#wrapper{

}

/*the footer at the bottom*/
#footer{
	
	background-color: #FFFFFF;
	

}
/*the footer at the bottom*/
#footer > #social, #sponsers{

	margin-top:10px;
	margin-bottom:10px;


}


#footer > #social > a > img, #sponsers > a > img {

	height:50px;
	margin:10px;


}

#footer > #social > a > img {

	height:50px;
	margin:10px;
	float: right;

}
hr{
	border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}





/*quick font implementation list for all pages*/
.main-font{
	font-family: 'Open Sans', serif;
}

