/*main sponsors containers*/
.sponsorContainer{
	background-color: rgba(144,144,144, 0.1);
	
	margin-top: 10px;
	padding-left: 0px;
	border-radius: 10px;
	padding: 0px;
}
/*sponsor image*/
.sponsorContainer > .sponsorHeaderContainer{

	/*use height*/
	height: 75px;   
	background-color: rgba(144,144,144, 1);;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}
/*image containers */
.sponsorContainer > .sponsorHeaderContainer > .sponsorImgContainer{
	background-color: white; 
	border-radius: 10px;
	padding: 10px;
	margin-top:25px; 
	margin-left: -5px;

	 border: 1px solid;
	 border-color: #585349;
	 max-height:150px;
	max-width:125px;
 

}
/*the sponsor titles*/
.sponsorContainer > .sponsorHeaderContainer > .sponserHeaderText{

	margin-top: 15px;
	font-size: 30px;  
	color: #FFFFFF;

}
/*sponser image*/
.sponsorContainer > .sponsorHeaderContainer > .sponsorImgContainer > a > img{
	max-width:100%;
max-height:100%;

}
/*sponsor text*/
.sponsorContainer > .sponsorTextContainer{
	margin-top: 7px; 
	padding-top:7px;
	min-height: 150px;
	max-height: 200px;
	overflow: scroll;
	padding-top: 7px;  

}
/*exeptions for sponsor titles */
.sponsorContainer:nth-of-type(7) > .sponsorHeaderContainer > .sponserHeaderText{

	font-size: 20px;
	margin-top: 15px;

}

.sponsorContainer:nth-of-type(8) > .sponsorHeaderContainer > .sponserHeaderText{

	font-size: 20px;
	margin-top: 15px;

}